@page "/"
@using System.IO
@using BlazorInputFile
@using Itemdex.Core

<header>
    <h1 class="logo stroke--2px">Terraria Itemdex</h1>
</header>

@if (!uploaded)
{
    <p class="stroke--1px">Upload your Terraria Player file (*.plr) to see how far you've come!</p>

    <InputFile OnChange="HandleSelection"/>
}
else if (_itemdexService.SaveVersion < 218)
{
    <p>Looks like this save is from version @_itemdexService.SaveVersion, Itemdex only works with version 218 and above!</p>
}
else if (_itemdexService.NoProgress)
{
    <p>"No progress has been made! (Is @_itemdexService.CharacterName even a journey mode character?)"!</p>
}
else
{
    <p>Your itemdex is @PercentComplete() complete!</p>
    <ReportSection Items=@_progressReport.Complete SectionName="Complete" />
    <ReportSection Items=@_progressReport.Incomplete SectionName="Incomplete" />
    <ReportSection Items=@_progressReport.NotStarted SectionName="Not Started" />
}

@code {
    bool uploaded;
    ProgressReport _progressReport;
    ItemdexService _itemdexService;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            await using var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            _itemdexService = new ItemdexService();
            Reader.ExtractJourneyModeProgressFromFile(ms, _itemdexService);

            _progressReport = _itemdexService.Evaluate();
            uploaded = true;
        }
    }

    private string PercentComplete()
    {
        var done = _progressReport.Complete.Count + _progressReport.Incomplete.Count;
        var total = _progressReport.Complete.Count + _progressReport.Incomplete.Count + _progressReport.NotStarted.Count;

        return $"{(double)done / total:0.0%}";
    }

}