@using Itemdex.Core

<div class="report-section">
    <p>Complete: @Items.Count</p>
    @if (_sectionIsExpanded)
    {
        <button @onclick="ToggleSection">Hide Items</button>
        <div class="item-grid">
            @foreach (var item in Items)
            {
                <div class=@GridCellClass>
                    <img src="https://minio.acpostermaker.com/terraria/Item_@(item.Id).png">
                </div>
            }
        </div>
    }
    else
    {
        <button @onclick="ToggleSection">Show Items</button>
    }
</div>

@code {

    [Parameter]
    public List<Item> Items { get; set; }

    [Parameter]
    public string SectionName { get; set; }

    bool _sectionIsExpanded;

    string GridCellClass => "grid-cell--" + SectionName.ToLower();

    public void ToggleSection()
    {
        _sectionIsExpanded = !_sectionIsExpanded;
    }
}