@using Itemdex.Core

<div class="report-section">
    <p>@Items.Count @SectionName <span @onclick="ToggleSection" class="toggle stroke--1px">@ToggleButtonText</span></p>
    <div class="item-grid" style="@VisibilityStyle">
        @foreach (var item in Items)
        {
            <div class=@GridCellClass>
                <img src="https://minio.acpostermaker.com/terraria/Item_@(item.Id).png">
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public List<Item> Items { get; set; }

    [Parameter]
    public string SectionName { get; set; }

    bool _sectionIsExpanded;
    
    string ToggleButtonText => _sectionIsExpanded ? "-" : "+";

    string VisibilityStyle => _sectionIsExpanded ? "display: grid" : "display: none";

    string GridCellClass => "grid-cell--" + SectionName.ToLower().Replace(' ', '-');
    
    public void ToggleSection()
    {
        _sectionIsExpanded = !_sectionIsExpanded;
    }

}